<h1>Salut! Confirmé votre adresse Email!</h1>

<p>
    Confirmé votre adresse Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirm mon adresse email</a>.
    Ce lien expira dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    AllCiné227 Vous remercie!
</p>
