{% extends 'base.html.twig' %}

{% block title %}Mots de passe de réinitialisation envoyez{% endblock %}

{% block body %}
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne récevez pas de mots de passe Verifier dans vos Spame or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
