{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h2>voulez vous vraiment suprimer</h2>
    <form method="post" action="{{ path('admin_vendeur_delete', {'id': vendeur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vendeur.id) }}">
        <button type="submit" class="btn btn-primary me-2">Suprimer</button>
    </form>

{% endblock %}
