{% extends 'localisation.html.twig' %}

{% block title %}serie{% endblock %}

{% block body %}
    <div id="detailsMap" data-lon="{{ vendeur.lon}}" data-lat="{{ vendeur.lat}}" data-nom="{{ vendeur.nom}}"></div>

    <div id="detailsMap"></div>
{% endblock %}
