{% extends 'base.html.twig' %}

{% block title %}New VenteFilm{% endblock %}

{% block body %}
    <h2 style="text-align: center" class="bg-gray-700 text-white">
       Vente Film Serie Manga
    </h2>
    {{ include('vente_film/_form.html.twig') }}
{% endblock %}
