{% extends 'base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    {{ include('essais/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_essais_index') }}">back to list</a>

    {{ include('essais/_delete_form.html.twig') }}
{% endblock %}
