{% extends 'localisation.html.twig' %}

{% block title %}serie{% endblock %}

{% block body %}
    <div id="detailsMap" data-lon="{{ client.lon}}" data-lat="{{ client.lat}}" data-nom="{{ client.nom}}"></div>

    <div id="detailsMap"></div>
{% endblock %}
